.ReactModal__Overlay {
    z-index: 1000;  /* 모달 열린 상태에서 배경 컨텐츠 hide - https://github.com/reactjs/react-modal/issues/886 */
}

/* 모달 열린 상태에서 배경 컨텐츠 스크롤 막음 - https://github.com/reactjs/react-modal/issues/392 */
.ReactModal__Body--open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}