<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <springProfile name="dev">
        <include resource="logback/console-logger.xml"/>

        <logger name="com.bootme" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="staging">
        <include resource="logback/file-logger.xml"/>

        <logger name="com.bootme" level="INFO" additivity="false">
<!--            <appender-ref ref="stg-file-general-text"/>-->
            <appender-ref ref="stg-file-general-json"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
<!--            <appender-ref ref="stg-file-general-text"/>-->
            <appender-ref ref="stg-file-general-json"/>
        </logger>

        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
<!--            <appender-ref ref="stg-file-general-text"/>-->
            <appender-ref ref="stg-file-general-json"/>
        </logger>

        <root level="INFO">
<!--            <appender-ref ref="stg-file-general-text"/>-->
            <appender-ref ref="stg-file-general-json"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/file-logger.xml"/>

        <logger name="com.bootme" level="INFO" additivity="false">
            <appender-ref ref="prod-file-general-text"/>
            <appender-ref ref="prod-file-general-json"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="prod-file-general-text"/>
            <appender-ref ref="prod-file-general-json"/>
        </logger>

        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
            <appender-ref ref="prod-file-general-text"/>
            <appender-ref ref="prod-file-general-json"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="prod-file-general-text"/>
            <appender-ref ref="prod-file-general-json"/>
        </root>
    </springProfile>
</configuration>
