<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProfile name="dev">
        <include resource="logback/console-access-logger.xml"/>
        <appender-ref ref="console-access-logger"/>
    </springProfile>

    <springProfile name="staging, prod">
        <include resource="logback/file-access-logger.xml"/>
        <appender-ref ref="file-access-text"/>
        <appender-ref ref="file-access-json"/>
    </springProfile>
</configuration>
